@import url('https://fonts.googleapis.com/css?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

/*@media all and (min-width: 576px) {
    body{
        background-color: black;
    }
}
@media all and (min-width: 768px) {
    body{
        background-color: grey;
    }
}
@media all and (min-width: 992px) {
    body{
        background-color:gray;
    }
}
@media all and (min-width: 1200px) {
    body{
        background-color:gainsboro;
    }
}*/

html{
    height: 100%;
}

body{
    font-family: 'Oswald', sans-serif;
    height: 100%;
}

#encabezado{
    background-color: #b5a269;
    float: left;
    position: relative;
    width: 100%;
    height: 5%;
    text-align: center;
}

#logo{
    height: 100%;
    width: 100%;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Audiowide', cursive;        
}

#principal{
    width: 8%;
}

ul{
    vertical-align: middle;
}

.nav,.nav-link{
    background-color: #b5a269;
    color: white;
}

.nav-link:hover{
    color: #343a40;
}

#cuerpo{
    float: left;
    position: relative;
    text-align: center;
    width: 100%;
    height: 85%;
}

#pie{
    background-color: #b5a269;
    color: white;
    text-align: right;
    float: left;
    position: relative;
    width: 100%;
    height: 10%;
}

#pie1{
    float: left;
    position: relative;
    width: 58%;
    height: 100%;
    text-align: right;
    vertical-align: middle;
}

#pie2{
    float: left;
    position: relative;
    width: 42%;
    height: 100%;
    text-align: right;
}